body {
    background-color: #427AA1;
    color: #EBF2FA;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #064789;
    width: 100%;
    box-shadow: 0px 2px 5px #064789;
}

#header-left {
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 20px;
    gap: 20px;
    align-items: center;
}

#header-right {
    display: flex;
    margin-right: 20px;
    margin-top: 5px;
    gap: 20px;
    align-items: center;
    font-size: smaller;
}

#logo {
    width: 50px;
}

#free-trial-btn {
    background-color: #679436;
    color: #EBF2FA;
    border-radius: 500px;
    border: none;
    height: 30px;
    box-shadow: inset 0px 6px 8px -6px #064789;
    padding: 10px;
    font-weight: bold;
}

main {
    margin-left: 20px;
}

#main-text {
    margin-top: 50px;
    margin-bottom: 50px;
    text-shadow: 
        -1px -1px 0 #679436,  
        1px -1px 0 #679436,
        -1px 1px 0 #679436,
        1px 1px 0 #679436;
}

hr {
    border: 1;
    color: #A5BE00;
    width: 100%;

}

footer {
    background-color: #A5BE00;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0px -2px 5px #A5BE00;
    text-align: center;
}