

header {
    background-color: #064789;
    color: #427AA1;
    display: flex;
    flex-direction: row;
    height: 7vh;
    gap: 90vw;
}

.btn-lines {
    width: 35px;
    height: 5px;
    background-color: #427AA1;
    margin: 6px 0;
}

img {
    width: 3vw;
    height: 5vh;
    background-color: #064789;
    margin-top: auto;
    margin-bottom: auto;
    
}

#menu-btn {
    margin-top: 1vh;
    margin-left: 1vw;
    background-color: #064789;
}

body {
    background-color: #427AA1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#dashboard {
    display: flex;
    gap: 4vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2vh;
    
}

#programme {
    background-color: #064789;
    color: #EBF2FA;
    border: solid 2px #EBF2FA;
    border-radius: 10px;
    width: 30vw;
    height: 20vh;
    text-align: center;
}

#workout {
    background-color: #679436;
    color: #EBF2FA;
    border: solid 2px #EBF2FA;
    border-radius: 10px;
    width: 30vw;
    text-align: center;
    height: 1000px;
}

#progress {
    background-color: #A5BE00;
    color: #EBF2FA;
    border: solid 2px #EBF2FA;
    border-radius: 10px;
    width: 30vw;
    text-align: center;
}

